/*Estilos css pagina login*/

.formulario{
    background:rgb(247, 217, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 91px 0;
}

.bloque_formulario{
    text-align: center;
}

.inicioseccion_titulo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 20px;
    color: #4e4040;
}

.entrada_bloque{
    padding: 16px 0;
}

.entrada{
    padding-left: 10px;
    width: 413px;
    height: 63.13px;
    background: #ffffff;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid #c8c8c8;
}

.boton_iniciarseccion{
    color: #ffffff;
    width: 135px;
    height: 56px;
    background: #3ead4cff;
    border-radius: 10%;
    border-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
}

.boton_iniciarseccion:hover{
    background:rgb(243, 122, 243);

}

/*Estilos de pantallas para dispositivos*/


@media screen and (max-width:768px){

    .inicioseccion_titulo{
        width: auto;
    }

    .entrada{
        width: 275px;
        height: 41px;
    }
    .boton_iniciarseccion{
        width: 109px;
        height: 40px;
        margin: 0 auto;
    }
}

@media screen and (max-width:414px){

    .entrada{
        width: 275px;
        height: 41px;
    }
    .boton_iniciarseccion{
        width: 109px;
        height: 40px;
        margin: 0 auto;
    }
}

