/*Encabezado*/

.encabezado{
    background: #e1fde0;
    align-items: flex-end;
    justify-content: space-between;
}

.encabezado_inicio{
    margin: 0 auto;
    padding: 32px 10%;
}

.encabezado .encabezado_inicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

.encabezado_items{
    width: 100%;
}

.logo, .encabezado_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caja_buscar{
    margin-left: 16px;
    background: #f5f5f5;
    border-radius: 20px;
}

.buscar{
    width: 20vw;
    height: 40px;
    background: #f5f5f5;
    border-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border-radius: 20px 0 0 20px;
    padding-left: 16px;
}

.objeto_buscar{
    margin-right: 30px;
    background-image: url(./img/buscar.png);
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-position: 0%;
    padding: 2% 5%;
}

.boton_login{
    box-sizing: border-box;
    color: #2a7ae4;
    border: 1px solid #2a7ae4;
    width: 182px;
    height: 51px;
}

.boton_login{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}


.boton_login:hover{
    background: #D4E4FA;
}

.promocion{
    height: 352px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.8) 100%), url("./img/bannertienda.jpg") center / cover no-repeat; 

    /*
    background-position: center;
    background-repeat: no-repeat;
    */
}

.encabezado .promocion{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.texto_promocion{
    width: 100%;
    height: auto;
    padding: 32px 10%;
    display: flex;
    flex-direction: column;
    gap: 16px
}

.titulo_promocion{
    color: rgb(252, 86, 252);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 1000;
    font-size: 52px;
    line-height: 61px;
}

.descripcion_promocion{
    color: rgb(250, 212, 250);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 1000;
    font-size: 22px;
    line-height: 26px;
}

.boton_promocion{
    color: rgb(250, 212, 250);
    background: #3ead4cff;
    width: 129px;
    height: 51px;
    border-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.boton_promocion:hover{
    background: rgb(243, 122, 243);
}


/*Main*/

.cuerpo_principal{
    padding: 4rem 0.5rem 2rem 0.5rem;
    background: rgb(247, 217, 245);
}

.titulo_seccion{
    color: rgb(4, 190, 29);
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
    line-height: 26px;
    margin: 0 0 1rem 1rem;
}

.boton_expandir{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
    margin: 0 1rem 1rem 0;
}

ul li{
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
}

.cuerpo_principal a{    
    color: rgb(2, 100, 15);
    text-decoration:none;
}

.mujer .mujer_principales{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mujer .mujer_descripcion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.ninas .ninas_principal{
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.ninas .ninas_descripcion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.variedad .variedad_principal{
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.variedad .variedad_descripcion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}


/*Pie de pagina*/

.pie_inicio{
    padding-top: 3rem;
}

.pie_inicio .menu_contacto{
    display: flex;
    justify-content: space-between;
}

.menu_contacto .caja_contacto{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.caja_contacto .contenido_contacto{
    display: flex;
}

.caja_contacto .main{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.menu_contacto .contenido_contacto{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

/*Pie redes sociales*/

.pie_fin{
    background: #e1fde0;
    text-align: center;
    padding:  3rem 0 3rem 0;
}

.pie_creador{
    color: blue;
    margin-bottom: 1.5rem;
}

.pie_redessociales{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes_sociales{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenesredes{
    height: 2rem;
}

.imagenesredes:hover{
    transform: scale(2)
}


/*Configuracion screen para dispositivos dispositivos*/


@media screen and (max-width:1280px){
    .encabezado_inicio, .texto_promocion{
        padding: 32px 5%;   
    }

}

@media screen and (max-width:768px){

    .encabezado{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding: 10px 0;
    }

    .encabezado_inicio{
        flex-direction: column;
        justify-content: left;
        margin: 0 auto;
        padding: 10px 0;
    }

    .encabezado_items{
        flex-direction: column;
        margin: 1rem auto;
        justify-content: left;
        margin: 0 auto;
        padding: 10px 0;
    }

    .encabezado_items img{
        width: auto;
        height: 30px;
        order: 0;   
    }

}

@media screen and (max-width:360px){

    .encabezado_items img{
        width: auto;
        height: 28px;
        order: 0;   
    }

    .objeto_buscar{
        background: #ffffff;
        order: 2;
    }

    .buscar{
        display: none;
    }

    .boton_login{
        order: 1;
        width: 133px;
        height: 40px;
    }

    .titulo_promocion, .descripcion_promocion{
        font-size: 22px;
        line-height: 16px;
    }
}