*/Estilos de css*/


.encabezado{
    background: #e1fde0;
}

.encabezado_inicio{
    margin: 0 auto;
    padding: 32px 10%;
}

.logo{
    width: 100%;
}

.encabezado_items{
    width: 100%;
}

.caja_buscar{
    margin-left: 16px;
    background: #f5f5f5;
    border-radius: 20px;
}

.buscar{
    width: 20vw;
    height: 40px;
    background: #f5f5f5;
    border-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border-radius: 20px 0 0 20px;
    padding-left: 16px;
}

.objeto_buscar{
    margin-right: 15px;
    color: #A2A2A2;
}
.boton_login{
    box-sizing: border-box;
    color: #2a7ae4;
    border: 1px solid #2a7ae4;
    width: 182px;
    height: 51px;
}

.boton_login:hover{
    background: #D4E4FA;
}

.promocion{
    height: 352px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.8) 100%), url("./img/bannertienda.jpg") center / cover no-repeat; 

    /*
    background-position: center;
    background-repeat: no-repeat;
    */
}

.texto_promocion{
    width: 100%;
    height: auto;
    padding: 32px 10%;
}

.titulo_promocion{
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
}

.descripcion_promocion{
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.boton_promocion{
    color: #000000;
    background: #2A7AE4;
    width: 129px;
    height: 51px;
    border-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.boton_promocion:hover{
    background: #5595E9;
}


/*Gama de dispositivos*/

@media screen and (max-width:1280px){

}

@media screen and (max-width:768px){

}

@media screen and (max-width:360px){

}