/*Encabezado*/

.encabezado{
    background: #e1fde0;
    align-items: flex-end;
    justify-content: space-between;
}

.encabezado_inicio{
    margin: 0 auto;
    padding: 32px 10%;
}

.encabezado .encabezado_inicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

.encabezado_items{
    width: 100%;
}

.logo, .encabezado_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caja_buscar{
    margin-left: 16px;
    background: #f5f5f5;
    border-radius: 20px;
}

.buscar{
    width: 20vw;
    height: 40px;
    background: #f5f5f5;
    border-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border-radius: 20px 0 0 20px;
    padding-left: 16px;
}

.objeto_buscar{
    margin-right: 30px;
    background-image: url(./img/buscar.png);
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-position: 0%;
    padding: 2% 5%;
}

.boton_login{
    box-sizing: border-box;
    background: rgb(4 190 29);
    color: white;
    border: none;
    width: 182px;
    height: 51px;
    font-weight: 750;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.boton_login:hover{
    background: #ca1c73;
}

.promocion{
    height: 352px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.8) 100%), url("./img/bannertienda.jpg") center / cover no-repeat; 
}

.encabezado .promocion{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.texto_promocion{
    width: 100%;
    height: auto;
    padding: 32px 10%;
    display: flex;
    flex-direction: column;
    gap: 16px
}

.titulo_promocion{
    color: rgb(252, 86, 252);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 1000;
    font-size: 52px;
    line-height: 61px;
}

.descripcion_promocion{
    color: rgb(250, 212, 250);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 1000;
    font-size: 22px;
    line-height: 26px;
}

.boton_promocion{
    color: rgb(250, 212, 250);
    background: #3ead4cff;
    width: 129px;
    height: 51px;
    border-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
}

.boton_promocion:hover{
    background: rgb(243, 122, 243);
}


/*Main*/

.cuerpo_principal{
    padding: 6rem 0.7rem 2rem 0.7rem;
    background: rgb(247, 217, 245);
}

.titulo_seccion{
    color: rgb(4, 190, 29);
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
    line-height: 26px;
    margin: 0 0 1rem 1rem;
}

.boton_expandir{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
    margin: 0 1rem 1rem 0;
}

ul li{
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
}

.cuerpo_principal a{    
    color: rgb(57, 131, 57);
    text-decoration:none;
}

.contenedor_bloque_principal{
    margin-bottom: 4rem;
}

.mujer .mujer_principales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mujer .mujer_descripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ninas .ninas_principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ninas .ninas_descripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.variedad .variedad_principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.variedad .variedad_descripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*Pie de pagina*/

.pie_inicio{
    padding-top: 3rem;
    background: #e1fde0;
}

.pie_presentacion a{    
    color: rgb(2, 100, 15);
    text-decoration:none;
}

.menu_contacto{
    margin: 0 auto;
    padding: 16px 10%;
}

.pie_inicio .menu_contacto{
    display: flex;
    justify-content: space-between;
}

.caja_contacto{
    width: 38%;
}

.pie_contenedor{
    padding-bottom: 16px;
}

.contacto_formulario{
    width: 46%;
}

.contacto{
    width: 100%;
}

.menu_contacto .caja_contacto{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.caja_contacto .contenido_contacto{
    display: flex;
}

.caja_contacto .pie_presentacion{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.menu_contacto .contenido_contacto{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.titulo_contacto{
    color: #2a2329;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 750;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 8px;
}

.entrada_nombre{
    width: 100%;
    height: 56px;
    background: #ffffff;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 8px;
}

.entrada_mensaje{
    width: 100%;
    height: 82px;
    background: #ffffff;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 8px;
}

.boton_contacto{
    color: #ffffff;
    width: 144px;
    height: 51px;
    background: rgb(4 190 29);
    border-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.boton_contacto:hover{
    background: #ca1c73;
}

/*Pie redes sociales*/

.pie_fin{
    background:rgb(255, 232, 253);
    text-align: center;
    padding:  3rem 0 3rem 0;
}

.pie_creador{
    color: blue;
    margin-bottom: 1.5rem;
}

.pie_redessociales{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes_sociales{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenesredes{
    height: 2rem;
}

.imagenesredes:hover{
    transform: scale(2)
}

.boton_extra{
    box-sizing: border-box;
    background: rgb(4 190 29);
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    font-weight: 300;
    font-size: 19px; 
    margin-top: 4rem;
}

.boton_extra:hover{
    background: #ca1c73;
    transform: rotate(30deg);
}

/*Configuracion screen para dispositivos dispositivos*/


@media screen and (max-width:1280px){
    .encabezado_inicio, .texto_promocion{
        padding: 32px 5%;   
    }

}

@media screen and (max-width:768px){

    .boton_login {
        width: auto;
        margin-left: 2rem;
    }

    .encabezado{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding: 10px 0;
    }

    .encabezado_inicio{
        flex-direction: column;
        justify-content: left;
        margin: 0 auto;
        padding: 10px 0;
    }

    .encabezado_items{
        place-content: space-around;
        margin: 0 auto;
        padding: 10px 0;
        width: auto;
    }

    .encabezado_items img{
        width: auto;
        height: 30px;
        order: 0;   
    }

    .mujer_principales, .ninas_principal, .variedad_principal{
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    .mujer_descripcion .ninas_descripcion .variedad_descripcion{
        display: flex;
        place-content: space-around;
    }

    .contenedor_bloque_principal{
        margin-bottom: 2rem;
    }

    .caja_contacto{
        flex-direction: column;
    }

    .logo_pie{
        width: 100%;
    }


}

@media screen and (max-width:414px){

    .encabezado_items img{
        width: auto;
        height: 28px;
        order: 0;   
    }

    .objeto_buscar{
        background: #ffffff;
        order: 2;
    }

    .buscar{
        display: none;
    }

    .boton_login{
        order: 1;
        width: 133px;
        height: 40px;
    }

    .cuerpo_principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor_bloque_principal{
        margin-bottom: 2rem;
    }

}